
  /*footer  */
  .footer-about,
  .footer-hussle,
  .footer-support,
  .footer-social {
    padding: 20px;
  }
  .footer-about .btn-white {
 
    display: inline-block;
    margin: auto;
  }
  .footer-about h3 {
    font-size: 8px;
  }
  .custom-shape-divider-top-1601232262 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .custom-shape-divider-top-1601232262 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 35px;
  }
  
  .custom-shape-divider-top-1601232262 .shape-fill {
    fill: #3dee74;
  }
  /* service */
  .cimage {
    background-size: cover;
    image-orientation: inherit;
  }
  
  /*form */
  section #contact {
    background-color: #bbcac498;
    max-width: 1170px;
    margin: auto auto;
    padding: 0;
    -webkit-box-shadow: 6px 10px 23px -7px rgba(61, 63, 66, 1);
    -moz-box-shadow: 6px 10px 23px -7px rgba(61, 63, 66, 1);
    box-shadow: 6px 10px 23px -7px rgb(165, 169, 173);
  }
  .btn-danger {
    margin-bottom: 20px;
  }
  #client img {
    max-width: 300px;
  }
  
  #client {
    padding: 30px 0;
  }
  .shape-color {
    color: aquamarine;
  }
  /*
  carosuel
  */
  


  .cursor-pointer {
    cursor: pointer;
}