<footer>
  <div class="Footer-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="footer-about">
            <!-- <img src="./assets/img/logo/logo.png" alt=""> -->
            <h4>
              <strong class="grad_textcss"> Indian Scoring Dies Maker </strong>
            </h4>
            <p>
              We are Manufacturers and Suppliers of all variants of stamping
              Dies, Discutting Dies and Cutting Dies. Also one of the leading
              Manufacturers of all variants of dies for packaging
              industries/Enterprise for the past 12+ years. Currently we serve
              die needs in and around sivakasi industry. We Sivakasi based
              Company.
            </p>
            <!-- <button class="btn btn-white">SIGN UP FOR DISCOUNTS</button> -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-hussle">
            <h4><strong class="text-uppercase">Our Contact</strong></h4>
            <div class="text-center">
              <strong class="text-center"><u>Company Address</u></strong>
              <h5>
                306,2 Nehru Road Bilal Mahal Backside
              </h5>
              <strong class="text-center"><u>Phone:</u></strong>
              <br />
              +91 6383702043
              <div class="text-center">
                <h5>
                  <strong><u>Email</u></strong>
                </h5>
                <em>
                  <a href="mailto:indiandiemakersivakasi@gmail.com"
                    >indiandiemakersivakasi&#64;gmail.com</a
                  >
                </em>
                <p data-toggle="modal" href="#myModal" class="pe-auto cursor-pointer" (click)="checkMyPolicy()" >Privacy Policy</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-2">
                <div class="footer-support">
                    <h4><strong>SUPPORT</strong></h4>
                </div>
            </div> -->
        <div class="col-md-3">
          <div class="footer-social">
            <h4><strong>SOCIAL</strong></h4>
            <!--Facebook-->
            <button type="button" class="btn btn-fb">
              <i class="fab fa-facebook-f"></i>
            </button>
            <!--Twitter-->
            <button type="button" class="btn btn-tw">
              <i class="fab fa-twitter"></i>
            </button>
            <!--Google +-->
            <button type="button" class="btn btn-gplus">
              <i class="fab fa-google-plus-g"></i>
            </button>
            <!--Linkedin-->
            <button type="button" class="btn btn-li">
              <i class="fab fa-linkedin-in"></i>
            </button>
            <!--Instagram-->
            <button type="button" class="btn btn-ins">
              <i class="fab fa-instagram"></i>
            </button>
            <h5>All Rights Reserved <Span>&copy; </Span>2025</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
  <!-- Button trigger modal -->
  <!-- <a  class="btn btn-primary btn-lg">Launch demo modal</a> -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">WEBSITE PRIVACY </h4>
        </div>
        <div class="modal-body" [innerHtml]="dynamicHtml">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
