	<!-- START SECTION SERVICES -->
	<section class="section-services">
		<div class="container">
			<div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Services</h1>
                    <div class="heading-underline"></div>
                </div>
				<!-- Single Service -->
				<div class="col-md-6 col-lg-3 col-xl-3">
					<div class="single-service">
						<div class="content">
							<span class="icon">
								<!-- <i class="fab fa-battle-net"></i> -->
                                <i class="fa fa-gavel" aria-hidden="true"></i>

                            </span>
							<h3 class="title">Cutting Die</h3>
							<p class="description">Cutting dies are custom tools made by die makers to precisely cut materials like paper, metal, or plastic into specific shapes for mass production.</p>
							<a href="#" class="learn-more">Learn More</a>
						</div>
						<span class="circle-before"></span>
					</div>
				</div>
				<!-- / End Single Service -->
				<!-- Single Service -->
				<div class="col-md-6 col-lg-3 col-xl-3">
					<div class="single-service">
						<div class="content">
							<span class="icon">
                                <!-- <i class="fa fa-wrench" aria-hidden="true"></i> -->
                                <i class="fa fa-tags" aria-hidden="true"></i>

							</span>
							<h3 class="title">Label Die</h3>
							<p class="description">A label die is a custom cutting tool crafted by tool and die makers to precisely shape printed labels from paper, film, or adhesive stock into specific contour</p>
							<a href="#" class="learn-more">Learn More</a>
						</div>
						<span class="circle-before"></span>
					</div>
				</div>
				<!-- / End Single Service -->
				<!-- Single Service -->
				<div class="col-md-6 col-lg-3 col-xl-3">
					<div class="single-service">
						<div class="content">
							<span class="icon">
                                <i class="fa fa-cubes" aria-hidden="true"></i>
							</span>
							<h3 class="title">Box Die</h3>
							<p class="description">A box die is a specialized cutting tool used by tool and die makers to precisely cut flat corrugated sheets into custom box blanks or shapes for packaging.</p>
							<a href="" class="learn-more">Learn More</a>
						</div>
						<span class="circle-before"></span>
					</div>
				</div>
				<!-- / End Single Service -->
				<!-- Single Service -->
				<div class="col-md-6 col-lg-3 col-xl-3">
					<div class="single-service">
						<div class="content">
							<span class="icon">
                                <i class="fa fa-fire" aria-hidden="true"></i>
							</span>
							<h3 class="title">Laser Die</h3>
							<p class="description">Laser tools for die makers are precision machines that use high-powered lasers to cut, engrave, or mark dies and tools from metals, plastics, and other materials..</p>
							<a href="#" class="learn-more">Learn More</a>
						</div>
						<span class="circle-before"></span>
					</div>
				</div>
				<!-- / End Single Service -->
				<!-- Single Service -->
				<!-- / End Single Service -->
			</div>
		</div>
	</section>





    <!-- 
    
    <div class="col-md-6 col-lg-4">
					<div class="single-service">
						<div class="content">
							<span class="icon">
								<i class="fas fa-chart-pie"></i>
							</span>
							<h3 class="title">Business Consulting</h3>
							<p class="description">Mauris volutpat urna tristique finibus iaculis. Morbi facilisis, justo eu vulputate elementum, est augue tincidunt ante, sed efficitur leo ligula vel velit.</p>
							<a href="#" class="learn-more">Learn More</a>
						</div>
						<span class="circle-before"></span>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="single-service">
						<div class="content">
							<span class="icon">
								<i class="fas fa-laptop-code"></i>
							</span>
							<h3 class="title">Website Design</h3>
							<p class="description">Mauris volutpat urna tristique finibus iaculis. Morbi facilisis, justo eu vulputate elementum, est augue tincidunt ante, sed efficitur leo ligula vel velit.</p>
							<a href="#" class="learn-more">Learn More</a>
						</div>
						<span class="circle-before"></span>
					</div>
				</div>
    -->