<app-header></app-header>
<div class="row">
  <div class="col-md-12 col-sm-12 d-flex">
    <section class="showcase" id="home">
      <div class="video-container">
        <video
          loop
          autoplay
          muted
          src="./assets/video/Brand_Loop_1440x625_V3.1.mp4"
        ></video>
      </div>
      <div class="content">
        <h1>SUPPLYING AND EXPORTING</h1>
        <h3>A WIDE RANGE OF BOX DIES MAKERS</h3>
        <a
          aria-label="Chat on WhatsApp"
          href="https://wa.me/916383702043"
          class="btn"
          >Whatsup</a
        >
      </div>
    </section>
    
      <h1>Website Under Construction ././.</h1>
  </div>
</div>







<section>
  <div id="clients">
      <div class="content-box">
          <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
              <h3>Our Clients</h3>
              <div class="heading-underline"></div>
          </div>
          <div class="container">
              <div class="row wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                  <div class="col-md-12 col-sm-12">
                      <div id="clients-list" class="owl-carousel owl-theme">
                          <div id="client">
                              <img src="./assets/img/carousel/08_181220_aaronchewning_235x242.jpg"
                                  class="img-responsive" alt="client">
                          </div>
                          <div id="client">
                              <img src="./assets/img/carousel/02_090515_iamcjox_235x242.jpg"
                                  class="img-responsive" alt="client">
                          </div>
                          <div id="client">
                              <img src="./assets/img/carousel/05_190315_maisonetteworld_1_235x242.jpg"
                                  class="img-responsive" alt="client">
                          </div>
                          <div id="client">
                              <img src="./assets/img/carousel/10_MB_Hiplift_235x242.jpg" class="img-responsive"
                                  alt="client">
                          </div>
                          <div id="client">
                              <img src="./assets/img/carousel/16FathersDay.jpg" class="img-responsive"
                                  alt="client">
                          </div>
                          <div id="client">
                              <img src="./assets/img/carousel/09courtney.jpg" class="img-responsive" alt="client">
                          </div>
                          <div id="client">
                              <img src="./assets/img/carousel/05_190315_maisonetteworld_1_235x242.jpg"
                                  class="img-responsive" alt="client">
                          </div>
                          <div id="client">
                              <img src="./assets/img/carousel/03_Bailey_Nomi_FeaturedMember_5_235x242.jpg"
                                  class="img-responsive" alt="client">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>
