<app-header></app-header>
<div class="row">
    <div class="col-md-12 col-sm-12 d-flex">
        <section class="showcase" id="home">
            <div class=" video-container">
                <video loop autoplay muted src="./assets/video/Brand_Loop_1440x625_V3.1.mp4">
                </video>
            </div>
            <div class="content">
                <h1>SUPPLYING AND EXPORTING</h1>
                <h3>A WIDE RANGE OF BOX DIES MAKERS</h3>
                <a aria-label="Chat on WhatsApp" href="https://wa.me/916383702043" class="btn" >Whatsup</a>
            </div>
        </section>
    
    </div>
</div>


<app-footer></app-footer>